IMAGE_REGISTRY_URL=code.b-robotized.com:5050/ctrlx/releases

ROBOT_TYPE=kuka
IMAGE_NAME=${ROBOT_TYPE}-commission
IMAGE_TAG=1.0.0

IMAGE_TAG_FULL=${IMAGE_REGISTRY_URL}/${IMAGE_NAME}:${IMAGE_TAG}

CONTAINER_NAME=${IMAGE_NAME}

# The network interface on your computer that is connected to the 192.168.28.x network.
# Run 'ip addr' in your terminal to find this. Look for an interface with an IP in that range.
HOST_NETWORK_INTERFACE=

# The static IP address you want to assign to the container on the macvlan network.
# ROS_STATIC_IP considers 192.168.28.201 and 192.168.28.202 to be in the network. One should be assigned to your PC, and another to this container.
CONTAINER_MACVLAN_IP=192.168.28.202
