<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_dual_arm">

    <!-- ============= ROBOT 1 (LEFT) ARGS ================ -->
    <xacro:arg name="robot_1_ros2_control_hardware_type" default="mock"/>
    <xacro:arg name="robot_1_prefix" default="fr3_left"/>
    <xacro:arg name="robot_1_ip" default="10.42.0.203"/>
    <xacro:arg name="robot_1_mock_sensor_commands" default="true" />
    <xacro:arg name="robot_1_is_async" default="true" />
    <xacro:arg name="robot_1_scheduling_policy" default="slave" />
    <xacro:arg name="robot_1_thread_priority" default="70" />
    <xacro:arg name="robot_1_cpu_affinity" default="[2,3]" />

    <!-- ============= ROBOT 2 (RIGHT) ARGS ================ -->
    <xacro:arg name="robot_2_ros2_control_hardware_type" default="mock"/>
    <xacro:arg name="robot_2_prefix" default="fr3_right"/>
    <xacro:arg name="robot_2_ip" default="10.42.0.204"/>
    <xacro:arg name="robot_2_mock_sensor_commands" default="true" />
    <xacro:arg name="robot_2_is_async" default="true" />
    <xacro:arg name="robot_2_scheduling_policy" default="slave" />
    <xacro:arg name="robot_2_thread_priority" default="70" />
    <xacro:arg name="robot_2_cpu_affinity" default="[2,3]" />

    <link name="world"/>

    <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

    <!-- ============= FRANKA LEFT ================ -->
    <xacro:franka_robot robot_type="fr3"
                        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                        inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                        kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                        dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                        hand="false"
                        arm_prefix="$(arg robot_1_prefix)"
                        ros2_control="true"
                        robot_ip="$(arg robot_1_ip)"
                        fake_sensor_commands="$(arg robot_1_mock_sensor_commands)"
                        connected_to="world"
                        xyz="0 -0.5 0"
                        ros2_control_hardware_type="$(arg robot_1_ros2_control_hardware_type)"
                        is_async="$(arg robot_1_is_async)"
                        scheduling_policy="$(arg robot_1_scheduling_policy)"
                        thread_priority="$(arg robot_1_thread_priority)"
                        cpu_affinity="$(arg robot_1_cpu_affinity)">
    </xacro:franka_robot>

    <!-- ============= FRANKA RIGHT ================ -->
    <xacro:franka_robot robot_type="fr3"
                        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                        inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                        kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                        dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                        hand="false"
                        arm_prefix="$(arg robot_2_prefix)"
                        ros2_control="true"
                        robot_ip="$(arg robot_2_ip)"
                        fake_sensor_commands="$(arg robot_2_mock_sensor_commands)"
                        connected_to="world"
                        xyz="0 0.5 0"
                        ros2_control_hardware_type="$(arg robot_2_ros2_control_hardware_type)"
                        is_async="$(arg robot_2_is_async)"
                        scheduling_policy="$(arg robot_2_scheduling_policy)"
                        thread_priority="$(arg robot_2_thread_priority)"
                        cpu_affinity="$(arg robot_2_cpu_affinity)">
    </xacro:franka_robot>

    <!-- ============= FRANKA LEFT TOOL MOUNT ================ -->
    <link name="$(arg robot_1_prefix)_tool0"/>
    <joint name="$(arg robot_1_prefix)_tool0_joint" type="fixed">
        <parent link="$(arg robot_1_prefix)_link8"/>
        <child link="$(arg robot_1_prefix)_tool0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- ============= FRANKA RIGHT TOOL MOUNT ================ -->
    <link name="$(arg robot_2_prefix)_tool0"/>
    <joint name="$(arg robot_2_prefix)_tool0_joint" type="fixed">
        <parent link="$(arg robot_2_prefix)_link8"/>
        <child link="$(arg robot_2_prefix)_tool0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>