<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka">

    <xacro:arg name="robot_type" default="fr3"/>
    <xacro:arg name="arm_prefix" default="fr3"/>
    <xacro:arg name="robot_ip" default="10.42.0.203"/>
    
    <xacro:arg name="ros2_control_hardware_type" default="mock"/>
    <xacro:property name="ros2_control_hardware_type" value="$(arg ros2_control_hardware_type)"/>
    <xacro:arg name="mock_sensor_commands" default="true" />
    <xacro:arg name="is_async" default="true" />
    <xacro:arg name="scheduling_policy" default="slave" />
    <xacro:arg name="thread_priority" default="70" />
    <xacro:arg name="cpu_affinity" default="[2,3]" />

    <link name="world"/>

    <!-- ============= FRANKA ================ -->
    <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
    <xacro:franka_robot robot_type="$(arg robot_type)"
                        joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}"
                        inertials="${xacro.load_yaml('$(find franka_description)/robots/fr3/inertials.yaml')}"
                        kinematics="${xacro.load_yaml('$(find franka_description)/robots/fr3/kinematics.yaml')}"
                        dynamics="${xacro.load_yaml('$(find franka_description)/robots/fr3/dynamics.yaml')}"
                        hand="false"
                        arm_prefix="$(arg arm_prefix)"
                        ros2_control="true"
                        robot_ip="$(arg robot_ip)"
                        fake_sensor_commands="$(arg mock_sensor_commands)"
                        connected_to="world"
                        ros2_control_hardware_type="${ros2_control_hardware_type}"
                        is_async="$(arg is_async)"
                        scheduling_policy="$(arg scheduling_policy)"
                        thread_priority="$(arg thread_priority)"
                        cpu_affinity="$(arg cpu_affinity)">
    </xacro:franka_robot>

    <!-- ============= TOOL MOUNT ================ -->
    <link name="$(arg robot_type)_tool0"/>
    <joint name="$(arg robot_type)_tool0_joint" type="fixed">
        <parent link="$(arg robot_type)_link8"/>
        <child link="$(arg robot_type)_tool0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

</robot>
